@font-face {
  font-family: "Verdana";
  src: url("../assets/fonts/Verdana.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Verdana";
  src: url("../assets/fonts/Verdana-Bold.ttf");
  font-weight: 600;
}
html {
  font-size: 10px;
  font-family: "Verdana";
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #141415;
  color: #FFFFFF;
}

h1, h2 {
  font-weight: 600;
  margin: 0;
  font-family: "Verdana";
}

h1 {
  font-size: 4.5rem;
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
}
@media all and (max-width: 600px) {
  h2 {
    font-size: 3rem;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
@media all and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
}

.header {
  width: 100%;
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
.header__logo {
  display: inline-block;
}

.section {
  height: 86rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5.8rem;
  margin-bottom: 5.1rem;
}
@media all and (max-width: 600px) {
  .section {
    height: 70rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title .section__text-title {
  font-size: 4.5rem;
  text-align: center;
}
@media all and (max-width: 600px) {
  .section__title .section__text-title {
    font-size: 3.5rem;
  }
}
.section__img {
  display: flex;
  justify-content: center;
  width: 64.9rem;
  height: 53.2rem;
  margin-top: 2.1rem;
}
@media all and (max-width: 600px) {
  .section__img {
    width: 55.9rem;
    height: 43rem;
  }
}
.section__characteristics {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6.5rem;
}
.section__characteristics .section__point-characteristics {
  display: flex;
  flex-direction: column;
  border-bottom: 4px #F9B388 solid;
  width: 13rem;
  height: 9.5rem;
  text-align: left;
}
@media all and (max-width: 600px) {
  .section__characteristics .section__point-characteristics {
    width: 9rem;
    height: 7.5rem;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  margin-top: 4.7rem;
  gap: 0.6rem;
  text-decoration: none;
}
.link__text {
  color: #51ACFF;
  font-size: 2rem;
  font-weight: 600;
}
@media all and (max-width: 600px) {
  .link__text {
    font-size: 1.7rem;
  }
}
.link__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  width: 100%;
  height: 20.2rem;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.8rem;
}
.footer__social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.8rem;
}
.footer__social-icons .footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-icons .footer__social-icon img {
  width: 3rem;
  height: 3rem;
}
.footer p {
  color: #7D7D7D;
}
.footer__sub-text {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.9rem;
  text-align: center;
}
.footer__sub-text .footer__link-text {
  color: #51ACFF;
}

/*# sourceMappingURL=styles.css.map */
