@font-face {
    font-family: "Verdana";
    src: url('../assets/fonts/Verdana.ttf');
    font-weight: 400;
}
@font-face {
    font-family:"Verdana" ;
    src: url('../assets/fonts/Verdana-Bold.ttf');
    font-weight: 600;
}