// colors 

$grey-main-color: #313131;
$dark-main-color: #141415;
$outline-sub-color: #F9B388;
$black-color: #000000;
$white-color: #FFFFFF;
$link-color: #51ACFF;
$footer-colo-font: #7D7D7D;


//font

$font-family: "Verdana";
$font-size-base: 10px; 


$size-h1: 4.5rem;
$size-h2: 3.5rem;
$size-p: 1.3rem;


$size-h1-mob: 3.5rem;
$size-h2-mob: 3rem;
$size-p-mob: 1rem;

$link-size: 2rem;
$link-size-mob: 1.7rem;

//weight 
$weight-regular: 400;
$weight-bold: 600;



//frame size 

$media-m: 1200px;
$media-s: 600px;
