@use './variables.scss' as vars;


.link{
    
    display: inline-flex;
    align-items: center;
    margin-top: 4.7rem;
    gap: 0.6rem;
    text-decoration: none;
    &__text{
    color: vars.$link-color;
    font-size: vars.$link-size;
    font-weight: vars.$weight-bold;
        @media all and (max-width: vars.$media-s) {
            font-size: vars.$link-size-mob;
        }
    }
    &__icon{
        width: 1.5rem;
        height: 1.5rem;
      
        
    }
    
}